from tkinter import *
import time

print("Template: Aayush")
print("Hello this is the NanoGridX 1.0 Console")
time.sleep(3)
print("Please Insert The Details below.")
time.sleep(2)
q1 = str(input("Name: "))
if q1 == "Jerry":
    print("Access Granted")
else:
    print("ACCESS DENIED")
time.sleep(2)
print(" ")
q2 = str(input("ID Number: "))
if q2 == "1986":
    print("Access Granted")
else:
    print("ACCESS DENIED")
time.sleep(2)

q3 = str(input("Final Input: ICBM Code."))
if q3 == "1986792":
    print("Access Granted You May Open Clear 568")
else:
    print("DENIED")
time.sleep(15)
 

